hash_key=""

discord_client_id=""
discord_client_secret=""

ntfy_topic=""
ntfy_admin_key=""
ntfy_server=""

# secondary KV storage (outdated, vercel)
KV_REST_API_URL=""
KV_REST_API_TOKEN=""

# primary KV storage (redis)
RKV_REST_API_URL=""
RKV_REST_API_TOKEN=""